---
import { Image } from 'astro:assets';
import boat from '../assets/photos/IMG_2666.webp';
---

<section class="boat" aria-hidden="true" data-reveal="fade">
  <Image src={boat} alt="" widths={[600, 1000, 1600]} sizes="100vw" loading="lazy" />
</section>

<style>
  .boat {
    width: 100%;
    height: clamp(280px, 60vw, 600px);
    overflow: hidden;
    padding: 0;
  }
  .boat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 50%;
  }
</style>
