---
import { Image } from 'astro:assets';
import g1 from '../assets/photos/IMG_2877.webp';
import g2 from '../assets/photos/IMG_2667.webp';
import g3 from '../assets/photos/IMG_2870.webp';
---

<section class="gallery" aria-label="Galeria">
  <div class="gallery__grid">
    <figure class="gallery__item gallery__item--tall">
      <Image src={g1} alt="Adria e Rychel em close-up" widths={[400, 700, 1000]} sizes="(min-width: 800px) 33vw, 100vw" />
    </figure>
    <figure class="gallery__item">
      <Image src={g2} alt="Adria e Rychel se abraçando" widths={[400, 700, 1000]} sizes="(min-width: 800px) 33vw, 100vw" />
    </figure>
    <figure class="gallery__item gallery__item--tall">
      <Image src={g3} alt="Adria e Rychel contemplando o rio" widths={[400, 700, 1000]} sizes="(min-width: 800px) 33vw, 100vw" />
    </figure>
  </div>
</section>

<style>
  .gallery {
    background: var(--color-paper);
    padding-block: 0;
  }

  .gallery__grid {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery__item {
    margin: 0;
    overflow: hidden;
    aspect-ratio: 4 / 5;
  }

  .gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
</style>
